<% unless editable_task_category.name == "Uncategorized" %>

<div id="task_category_<%= editable_task_category.id %>_container" class="task-category-container">
  <div id="editable_task_category_<%= editable_task_category.id %>" class="row flex-nowrap editable-task-category">
    <div>
      <%= link_to image_tag('delete-icon.svg', class: "task-category-delete-icon"),
        task_category_delete_with_confirmation_path(editable_task_category), remote: true,
        :class => 'action destroy' %>
    </div>

    <%= form_with model: editable_task_category, class: "form-inline", local: true do |f| %>
      <div class='editable-task-category-name'>
        <%= f.text_field :name, placeholder: "Category Name",
          class: "form-control form-control-sm #{form_validity_class(editable_task_category, 'category')}" %>
        <%= raw validation_error_html(editable_task_category, 'name', 'Category name') %>
      </div>

      <div class="editable-task-category-submit">
        <%= f.submit "Update Category", class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>

    <div class="editable-task-category-cancel">
      <span>or <%= link_to "Cancel", task_category_path(editable_task_category), remote: true %></span>
    </div>
  </div>
</div>

<% end %>