<div class="container">
  <h1 class="page-header">Manage Task Categories</h1>

  <div id="tc_modal_container">
  </div>

  <h2 class="text-left">Define a New Task Category</h2>

  <%= form_with model: @new_task_category, local: true do |f| %>
    <%= f.text_field :name, label: "Category:", placeholder: "Category Name", class: "form-control input-quarter-width #{form_validity_class(@new_task_category, 'name')}" %>
    <%= raw validation_error_html(@new_task_category, 'name', 'Category') %>

    <%= f.submit "Save", class: "btn btn-primary create-task-category-btn" %>
  <% end %>

  <div class="flex-header">
    <h2 class="text-left no-margins heading-with-alert">Your Task Categories</h2>
    <%= render 'layouts/flash_alerts_inline' %>
  </div>

  <hr />

  <% if @current_user.task_categories.count < 2 %>
    <p class="italic">You have no task categories to display.</p>
  <% else %>
    <%= render 'display_task_category', @current_user.task_categories %>
  <% end %>

</div>