<div id="quote_<%= quote.id %>_container" class="quote-container">
  <div id="display_quote_<%= quote.id %>" class="row flex-nowrap highlight-on-hover display-quote">
    <div>
      <%= link_to image_tag('edit-pencil-icon.svg', title: "Click to Edit", class: "quote-edit-icon"), edit_quote_path(quote), remote: true %>
    </div>

    <div>
      <span class="display-quote-quotation">"<%= quote.quotation %>"</span>
    </div>

    <div>
      <span class="display-quote-source">-<%= quote.source %></span>
    </div>
  </div>
</div>
