<% @page_title = "Update Quote" %>

<%= link_to("<< Back to List", quotes_path, :class => 'back-link') %>

<div class="container">
  <h2 class="page-header">Edit Quote</h2>

  <%= form_for(@quote) do |q| %>
    <div class="form-group">
      <%= q.label :quotation, "Quote:" %>
      <%= q.text_field(:quotation, class: "form-control") %>
      <%= q.label :source, "Source:" %>
      <%= q.text_field(:source, class: "form-control") %>
      <%= q.submit("Update Quote", class: "btn btn-sm btn-primary mt-2") %>
    </div>
  <% end %>
</div>
