<% task_moved_away = (@tasks_view == 'index' && !@task.current?(@today_db)) ||
                     (@tasks_view == 'upcoming' && !@task.upcoming?(@today_db)) %>

<% if task_moved_away %>
  <%= turbo_stream.remove dom_id(@task) %>
<% elsif @priority_changed %>
  <%# Priority change affects sort order, so replace the full task list rather
      than just the individual task, so it appears in its new position. %>
  <% if @tasks_view == 'index' %>
    <%= turbo_stream.replace "current_task_list_container" do %>
      <div id="current_task_list_container">
        <%= render 'display_tasks_paginated', task_list: @current_tasks, task_list_type: 'current', highlighted_task_id: @task.id, tasks_view: @tasks_view %>
      </div>
    <% end %>
  <% elsif @tasks_view == 'upcoming' %>
    <%= turbo_stream.replace "upcoming_task_list_container" do %>
      <div id="upcoming_task_list_container">
        <%= render 'display_tasks_paginated', task_list: @future_tasks, task_list_type: 'upcoming', highlighted_task_id: @task.id, tasks_view: @tasks_view %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.replace dom_id(@task) do %>
    <%= render 'display_task', display_task: @task, tasks_view: @tasks_view, just_updated: true %>
  <% end %>
<% end %>

<%= turbo_stream.update "tasks_flash_alert" do %>
  <%= content_tag :div, @flash_msg,
      class: "alert alert-success alert-compact",
      data: { controller: "fade" } %>
<% end %>
